{% extends 'base.html' %}
{% block content %}
<h1>Dispersion</h1>

<div class="slider">
	<div class="slide active-slide">
		<div class="slide-container">
			<p>Lalala</p>
			<div class="slide-image"><img src="../static/img/dispersion/dispersion1.png"></div>
		</div>	
	</div>
	<div class="slide">
		<div class="slide-container">
			<p>Lalala</p>
			<div class="slide-image"><img src="../static/img/dispersion/dispersion2.jpg"></div>
		</div>	
	</div>
	<div class="slide">
		<div class="slide-container">
			<p>Lalala</p>
			<div class="slide-image"><img src="../static/img/dispersion/dispersion3.jpg"></div>
		</div>	
	</div>
	<div class="slide">
		<div class="slide-container">
			<p>Lalala</p>
			<div class="slide-image"><img src="../static/img/dispersion/dispersion4.jpg"></div>
		</div>	
	</div>
</div>
<div class="slider-nav">
	<a href="#" class="arrow-prev"><img src="../static/img/arrow-prev.png"></a>
	<ul class="slider-dots">
		<li class="dot active-dot">&bull;</li>
		<li class="dot">&bull;</li>
		<li class="dot">&bull;</li>
		<li class="dot">&bull;</li>
	</ul>
	<a href="#" class="arrow-next"><img src="../static/img/arrow-next.png"></a>
</div>
{% endblock content %}