{% extends 'base.html' %}
{% block content %}
	<div class="row">
		<div class="small-12 columns">
			<h1 id="title">My Portfolio</h1>
		</div>
	</div>
	<div id="divider"></div>
	<div class="row">
		<div class="large-10 large-centered medium-12 medium-centered small-12 small-centered columns">
			<div class="row">
				<div class="large-4 medium-4 small-12 columns">
					<div id="box-dispersion" class="box"><a href="dispersion.html" class="display-imgs"><div class="overlay"><span>+</span></div></a></div>
				</div>
				<div class="large-4 medium-4 small-12 columns">
					<div id="box-doubleex" class="box"><a href="double_exposure.html" class="display-imgs"><div class="overlay"><span>+</span></div></a></div>
				</div>
				<div class="large-4 medium-4 small-12 columns">
					<div id="box-drawing" class="box"><a href="drawing.html" class="display-imgs"><div class="overlay"><span>+</span></div></a></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-10 large-centered medium-12 medium-centered small-12 small-centered  columns">
			<div class="row">
				<div class="large-4 medium-4 small-12 columns">
					<div id="box-halftone" class="box"><a href="halftone.html" class="display-imgs"><div class="overlay"><span>+</span></div></a></div>
				</div>
				<div class="large-4 medium-4 small-12 columns">
					<div id="box-lego" class="box"><a href="lego.html" class="display-imgs"><div class="overlay"><span>+</span></div></a></div>
				</div>
				<div class="large-4 medium-4 small-12 columns">
					<div id="box-mosaic" class="box"><a href="mosaic.html" class="display-imgs"><div class="overlay"><span>+</span></div></a></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-10 large-centered medium-12 medium-centered small-12 small-centered  columns">
			<div class="row">
				<div class="large-4 medium-4 small-12 columns">
					<div id="box-stereoscope" class="box"><a href="stereoscope.html" class="display-imgs"><div class="overlay"><span>+</span></div></a></div>
				</div>
				<div class="large-4 medium-4 small-12 columns">
					<div id="box-textport" class="box"><a href="text_portrait.html" class="display-imgs"><div class="overlay"><span>+</span></div></a></div>
				</div>
				<div class="large-4 medium-4 small-12 columns">
					<div id="box-warhol" class="box"><a href="warhol.html" class="display-imgs"><div class="overlay"><span>+</span></div></a></div>
				</div>
			</div>
		</div>
	</div>					
{% endblock content %}