{% extends 'base.html' %}
{% block content %}
	<div class="row">
		<div class="small-12 columns">
			<h1 id="title">My Portfolio</h1>
		</div>
	</div>
	<div class="row">
		<div class="large-12 small-12 columns">
			<div id="divider"></div>
		</div>
	</div>	
	<div class="row">
		<div class="large-10 large-centered columns">
			<div class="row">
				<div class="large-4 columns">
					<a href="#" class="display-imgs"><img src="../static/img/dispersion/dispersion1.jpg" alt="Dispersion"></a>
				</div>
				<div class="large-4 columns">
					<a href="#" class="display-imgs"><img src="../static/img/double-exposure/doubleex1.jpg" alt="Double-exposure"></a>
				</div>
				<div class="large-4 columns">
					<a href="#" class="display-imgs"><img src="../static/img/drawing/oil-portrait.jpg" alt="Drawing"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-10 large-centered columns">
			<div class="row">
				<div class="large-4 columns">
					<a href="#" class="display-imgs"><img src="../static/img/halftone/halftone-pat-simple.png" alt="Halftone"></a>
				</div>
				<div class="large-4 columns">
					<a href="#" class="display-imgs"><img src="../static/img/lego/lego-pat-web.jpg" alt="Lego"></a>
				</div>
				<div class="large-4 columns">
					<a href="#" class="display-imgs"><img src="../static/img/mosaic/flower-mosaic.jpg" alt="Mosaic"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-10 large-centered columns">
			<div class="row">
				<div class="large-4 columns">
					<a href="#" class="display-imgs"><img src="../static/img/stereoscope/stereoscopic-pat1.jpg" alt="Stereoscope"></a>
				</div>
				<div class="large-4 columns">
					<a href="#" class="display-imgs"><img src="../static/img/text-portrait/textportrait1.jpg" alt="Text Portrait"></a>
				</div>
				<div class="large-4 columns">
					<a href="#" class="display-imgs"><img src="../static/img/warhol/warhol-flower-poster.png" alt="Warhol"></a>
				</div>
			</div>
		</div>
	</div>					
{% endblock content %}