body {
	color: #333;
	font-family: Sans-serif, "Verdana";
	background-color: #fff;
	text-size: 1em;
	text-align: center;
}

#title {
	margin-top: 2em;
}

#divider {
	height: 1em;
	width: auto;
	border-bottom: 1px solid #ddd;
	margin-bottom: 5em;
}

.box {
	background: no-repeat center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;

	.display-imgs {
		text-decoration: none;
		color: #fff;

		.overlay {
			background-color: #f36;
			text-align: center;
			font-size: 6em;
			width: auto;
			opacity: 0;
			transition-property: opacity, background-color;
			transition-duration: 0.3s;
		}
	}
}	

@media (max-width: 640px){
	.box {
		height: 17em;
		width: 17em;
		background-size: 17em;

		.overlay {
			height: 3em;
			padding-top: 0.7em;
		}
	}
}

@media (min-width: 641px) and (max-width: 850px) {
	.box {
		height: 12em;
		width: 12em;
		background-size: 12em;

		.overlay {
			height: 2em;
			padding-top: 0.27em;
		}
	}
}

@media (min-width: 851px) {
	.box {
		height: 15em;
		width: 15em;
		background-size: 15em;

		.overlay {
			height: 2.5em;
			padding-top: 0.5em;
		}
	}
}

#box-dispersion {
	background-image: url("../img/dispersion/dispersion1.png");
}

#box-doubleex {
	background-image: url("../img/double-exposure/doubleex1.png");
}

#box-drawing {
	background-image: url("../img/drawing/oil-portrait.png");
}

#box-halftone {
	background-image: url("../img/halftone/halftone-pat-simple.png");
}

#box-lego {
	background-image: url("../img/lego/lego-pat-web.png");
}

#box-mosaic {
	background-image: url("../img/mosaic/flower-mosaic.png");
}

#box-stereoscope {
	background-image: url("../img/stereoscope/stereoscopic-pat1.png");
}

#box-textport {
	background-image: url("../img/text-portrait/textportrait1.png");
}

#box-warhol {
	background-image: url("../img/warhol/warhol-flower-poster.png");
}


.display-imgs:hover {
	.overlay{
		opacity: 1;
	}
}

.display-imgs:active {
	.overlay{
		background-color: #fff;
		opacity: 1;
	}
}

.slider {
	position: relative;
	width: 100%;
	height: 470px;
	border-bottom: 1px solid #ddd;
	margin-top: 4em;
}

.slide {
	background-color: #fcfcfc;
	background-size: cover;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	p {
		color: black;
	}

	img {
		height: 400px;
		padding-top: 40px;
	}
}

.active-slide {
	display: block;
}

.slider-nav {
	text-align: center;
	margin-top: 20px;

	.arrow-prev {
		margin-right: 45px;
		display: inline-block;
		vertical-align: top;
		margin-top: 9px;
	}

	.arrow-next {
		margin-left: 45px;
		display: inline-block;
		vertical-align: top;
		margin-top: 9px;
	}

	.slider-dots{
		list-style: none;
		display: inline-block;
		padding-left: 0;
		margin-bottom: 0;

	.active-dot {
				color: #f36;
			}

		li {
			color: #bbbcbc;
			display: inline;
			font-size: 30px;
			margin-right: 5px;
		}
	}
}
